JWT_SECRET=""
NODE_ENV = ""

# Admin credentials
SELLER_EMAIL = ""
SELLER_PASSWORD = ""

# mongodb connection url

MONGODB_URL=''

# // cloudinary config
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""

# // STRIPE  
STRIPE_PUBLISHABLE_KEY = ''
STRIPE_SECRET_KEY = ''

# stripe webhooks
STRIPE_WEBHOOKS-SECRET = ""
